@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@mixin flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    @include flexbox();
    background-color: #efeef3;

    min-width: 393px;
    font-family: "Kodchasan", sans-serif;
}

header {
    @include flexbox();
    min-width: 314px;

    @media (min-width: 767px) {

        max-width: 1447px;
    }

    nav{
        @include flexbox();
        height: 45vh;

        @media (min-width: 767px) {
            flex-direction: row;
            justify-content: space-between;
            height: 64px;
            max-width: 1447px;
            width: 100%;
        }

        .logo__img{
            width: 181px;
            height: 65px;
            margin-block: 30px;

            @media (min-width: 767px) {
                width: 155px;
                height: 48px;
                padding-left: 3px;
            }
        }

        ul{
            @include flexbox();
            justify-content: space-between;
            height: 30vh;

            @media (min-width: 767px) {
                flex-direction: row;
                justify-content: space-evenly;
                height: 64px;
                width: 80%;
                max-width: 1447px;
            }

            li{
                font-size: 20px;
                font-weight: 400;
                line-height: 26px;

                @media (min-width: 767px) {
                    font-size: 20px;
                    line-height: 31.2px;
                }
            }
        }
    }

    .banner__img{
        display: none;

        @media (min-width: 767px) {
            display: block;
            
            width: 100%;

        }
    }
}

main {
    @include flexbox();

    @media (min-width: 767px) {
            width: 100%;
            max-width: 1440px;
        }
    
    .init__section {
        @include flexbox();
        justify-content: space-evenly;

        height: 700px;

        @media (min-width: 767px) {
            flex-direction: row;
            justify-content: space-evenly;

            width: 100%;
            height: 400px;
        }

        .presentation__div {
            @include flexbox();
            justify-content: space-around;

            @media (min-width: 767px) {
                max-width: 537px;
            }
        }

        img {
            width: 340px;
            height: 253px;
            border-radius: 20px;

            @media (min-width: 767px) {
                width: 450px;
                height: 355px;
            }
        }

        h1 {
            height: 31px;
            line-height: 21.2px;
            font-size: 24px;
            font-weight: 500;
            color: black;
            margin-bottom: 10px;
        }

        p {
            width: 325px;
            min-width: 314px;

            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            text-align: center;

            @media (min-width: 767px) {
                width: 100%;
                font-size: 24px;
                line-height: 31.2px;
            }
        }
    }

    .product__section {
        @include flexbox();
        justify-content: space-around;
        width: 340px;
        height: 600px;

        @media (min-width: 767px) {
                flex-direction: row;
                height: 250px;
                width: 100%;
                max-width: 1440px;
            }

        .title__div {
            @media (min-width: 767px) {
                width: 50%;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        h2 {
            width: 314px;
            height: 32px;
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            text-align: center;

            @media (min-width: 767px) {
                max-width: 493px;
                width: 100%;
                padding-left: 70px;
                
                font-weight: 400;
                font-size: 30px;
                line-height: 39px;
                text-align: start;
            }
        }

        .product__div{
            display: flex;
            align-items: center;
            justify-content: center;

            @media (min-width: 767px) {
                width: 60%;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            @media (min-width: 767px) {
                flex-wrap: nowrap;
                align-content: center;
                justify-content: space-evenly;

                width: 100%;
            }

            li{
               width: 100px;
               height: 200px;
               
               margin: 16px;
            }
        }
    }
}